{% extends 'base.html' %}
{% load static %}
{% load render_table from django_tables2 %}

{% block content %}
	<nav class='navbar navbar-light bg-light'>
		<div class='container-fluid'>
			<a class='navbar-brand' href='/'>
				<img src='{% static "darbi/mt-seta__logo.png" %}' alt='' width='' height='24' class='d-inline-block align-text-top'>
				MT-Sēta
			</a>
			<h3>Objektu saraksts</h3>
			<div class="d-flex">
				<a href='./paradnieki' class='btn btn-outline-danger'>
					Parādnieki 
					<span class='badge bg-danger'>{{ debtor_count }}</span>
				</a>
			</div>
		</div>
	</nav>
	{% render_table table %}

	<script>
		function checkForUpdate(){
			$.ajax({
				url: 'api/check_updates/',
				type: 'GET',
				success: function(response){
					if (response.has_new_data){
						location.reload();
					}
				}
			});
		}
		setInterval(checkForUpdate, 5000);
	</script>
{% endblock %}
