# Ignore list of files
*.swp

# Ignore files
.gitignore
manage.py
passenger_wsgi.py
mtdarbi/settings.py

# Ignore directories
**/__pycache__/
productionfiles/
public/
tmp/

# Ignore data bases
db.sqlite3
