#mt-darbi th a, 
#mt-debtors th a{
	color:#343434;
	text-decoration:none;
}

#mt-darbi>thead, 
#mt-debtors>thead{
	vertical-align:middle;
}

tr:has(.table-danger)>td:first-child{
	background-color:#f8d7da;
}

tr:has(.table-warning)>td:first-child{
	background-color:#fff3cd;
}

@media only screen and (min-width: 3000px){
	.col-description{
		min-width:1850px;
		font-size:1em; 
	}
}
